# Pandas

En pandas hay dos objetos principales: **Pandas Series** y **Pandas DataFrame**.

Pandas Series: es muy parecido a un array de una dimensión (o vector) de Numpy.
- Arreglo unidimensional indexado
- Búsqueda por índice
- Slicing
- Operaciones aritméticas
- Distintos tipos de datos

Pandas DataFrame: muy parecido a las estructuras matriciales trabajadas con Numpy.
- Estructura principal
- Arreglo de dos dimensiones
- Búsqueda por índice (columnas o filas)
- Slicing
- Operaciones aritméticas
- Distintos tipos de datos
- Tamaño variable

In [1]:
import pandas as pd

## Crear una Serie

Si no especifíco los índices entonces toma un lista ordenada comenzando desde cero.

In [2]:
pd.Series(["Futbol","Carros","Rios","Peces"])

0    Futbol
1    Carros
2      Rios
3     Peces
dtype: object

In [3]:
cosas=pd.Series(["Futbol","Carros","Rios","Peces"],index=[2,3,7,9])
cosas

2    Futbol
3    Carros
7      Rios
9     Peces
dtype: object

También puedo definir una serie a partir de un diccionario de Python

In [4]:
dic={2:"Futbol",3:"Carros",7:"Rios",9:"Peces"}
pd.Series(dic)

2    Futbol
3    Carros
7      Rios
9     Peces
dtype: object

Puedo acceder a los elementos a través del índice.

In [5]:
dic[7]

'Rios'

Y también mediante slicing.

In [6]:
cosas[:2]

2    Futbol
3    Carros
dtype: object

## Crear un DataFrame


Si quiero una estructura matricial con varios parámetros entonces lo mejor es utilizar un dataframe.

In [7]:
diccionario = {"Lenguaje": ["Python","C","Java","C++"],
               "Demanda":[290,95,240,95],
               "Tipo":["Interpretado","Compilado","Interpretado/Compilado","Compilado"]}
df = pd.DataFrame(diccionario,index=[1,2,3,4])
df

  Lenguaje  Demanda                    Tipo
1   Python      290            Interpretado
2        C       95               Compilado
3     Java      240  Interpretado/Compilado
4      C++       95               Compilado

Visualizar las columnas.

In [8]:
df.columns

Index(['Lenguaje', 'Demanda', 'Tipo'], dtype='object')

Visualizar los índices.

In [9]:
df.index

Index([1, 2, 3, 4], dtype='int64')

## Leer archivos CSV y JSON

Para leer un archivo **CSV** lo hago con *pd.read_csv()*.

In [10]:
pd.read_csv("bestsellers-with-categories.csv")

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

Si nuestro archivo no está delimitado por comas sino, por ejemplo, por / entonces usamos *sep="delimitador"*.

In [11]:
pd.read_csv("bestsellers-with-categories.csv",sep=",")

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

También es posible que muchos archivos no tengan un encabezado o **header** donde están los nombres de las columnas.

En ese caso, con *header = None*; con *header = 0* especificamos que la fila es el encabezado.

In [12]:
pd.read_csv("bestsellers-with-categories.csv",sep=",",header=0)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

También puedo especificar el nombre de las columnas con *names = [nombres]*

In [13]:
pd.read_csv("bestsellers-with-categories.csv",sep=",",header=0,names=["Hola","papa"])

                                                                                          Hola  \
10-Day Green Smoothie Cleanse                      JJ Smith                 4.7 17350 8   2016
11/22/63: A Novel                                  Stephen King             4.6 2052  22  2011
12 Rules for Life: An Antidote to Chaos            Jordan B. Peterson       4.7 18979 15  2018
1984 (Signet Classics)                             George Orwell            4.7 21424 6   2017
5,000 Awesome Facts (About Everything!) (Nation... National Geographic Kids 4.8 7665  12  2019
...                                                                                        ...
Wrecking Ball (Diary of a Wimpy Kid Book 14)       Jeff Kinney              4.9 9413  8   2019
You Are a Badass: How to Stop Doubting Your Gre... Jen Sincero              4.7 14331 8   2016
                                                                                      8   2017
                                                                                      8   2018
                                                                                      8   2019

                                                                                                 papa
10-Day Green Smoothie Cleanse                      JJ Smith                 4.7 17350 8   Non Fiction
11/22/63: A Novel                                  Stephen King             4.6 2052  22      Fiction
12 Rules for Life: An Antidote to Chaos            Jordan B. Peterson       4.7 18979 15  Non Fiction
1984 (Signet Classics)                             George Orwell            4.7 21424 6       Fiction
5,000 Awesome Facts (About Everything!) (Nation... National Geographic Kids 4.8 7665  12  Non Fiction
...                                                                                               ...
Wrecking Ball (Diary of a Wimpy Kid Book 14)       Jeff Kinney              4.9 9413  8       Fiction
You Are a Badass: How to Stop Doubting Your Gre... Jen Sincero              4.7 14331 8   Non Fiction
                                                                                      8   Non Fiction
                                                                                      8   Non Fiction
                                                                                      8   Non Fiction

[550 rows x 2 columns]

También podemos leer archivos **JSON** utilizando *pd.read_json()*.

In [14]:
pd.read_json("hpcharactersdata.json")

,Name,Link,Descr,Gender,Species/Race,Blood,School,Profession
0,Mrs. Abbott,https://www.hp-lexicon.org/character/abbott-fa...,"Mrs. Abbott was the mother of Hannah Abbott, a...",Female,Witch,Muggle-born,Unknown,Unknown
1,Hannah Abbott,https://www.hp-lexicon.org/character/abbott-fa...,Hannah Abbott is a Hufflepuff student in Harry...,Female,Witch,Half-blood,Hogwarts - Hufflepuff,Landlady of the Leaky Cauldron
2,Abel Treetops,https://www.hp-lexicon.org/character/abel-tree...,Abel Treetops was a wizard from Cincinnati who...,Male,Wizard,Unknown,Unknown,Unknown
3,Euan Abercrombie,https://www.hp-lexicon.org/character/abercromb...,Euan Abercrombie was a small boy with prominen...,Male,Wizard,Unknown,Hogwarts - Gryffindor,Unknown
4,Aberforth Dumbledore,https://www.hp-lexicon.org/character/dumbledor...,"Aberforth Dumbledore was a tall, thin, grumpy-...",Male,Wizard,Half-blood,Hogwarts - Student,Barman
...,...,...,...,...,...,...,...,...
1935,Georgi Zdravko,https://www.hp-lexicon.org/character/georgi-zd...,Georgi Zdravko played Keeper for the Bulgarian...,Male,Wizard,Unknown,Unknown,Quidditch player (Seeker)
1936,Zograf,https://www.hp-lexicon.org/character/zograf/,Zograf played Keeper for the Bulgarian Nationa...,NaN,Wizard,Unknown,Unknown,Quidditch player (Keeper)
1937,Zonko,https://www.hp-lexicon.org/character/zonko/,Founder(?) of Zonko’s Joke Shop. Possibly a re...,NaN,Unknown,Unknown,Unknown,Unknown
1938,Valentina Vázquez,https://www.hp-lexicon.org/character/valentina...,Valentina Vázquez was President of the Argenti...,Female,Witch,Unknown,Unknown,President of the Argentinian Council of Magic
1939,Zygmunt Budge,https://www.hp-lexicon.org/character/zygmunt-b...,Zygmunt Budge is considered to be one of the m...,Male,Wizard,Unknown,Hogwarts - Student,"Potions Master, Potioneer, Inventor, Author"

## Filtrado con iloc y loc

Permiten filtrar datos de manera mas específica. *loc* filtra segun un label mientras que *iloc* lo hace mediante índices.

In [15]:
libros=pd.read_csv("bestsellers-with-categories.csv")
libros

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [16]:
libros[["Name","Price"]]

                                                  Name  Price
0                        10-Day Green Smoothie Cleanse      8
1                                    11/22/63: A Novel     22
2              12 Rules for Life: An Antidote to Chaos     15
3                               1984 (Signet Classics)      6
4    5,000 Awesome Facts (About Everything!) (Natio...     12
..                                                 ...    ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)      8
546  You Are a Badass: How to Stop Doubting Your Gr...      8
547  You Are a Badass: How to Stop Doubting Your Gr...      8
548  You Are a Badass: How to Stop Doubting Your Gr...      8
549  You Are a Badass: How to Stop Doubting Your Gr...      8

[550 rows x 2 columns]

*loc* nos permite, por ejemplo, filtrar filas.

In [17]:
libros.loc[:]

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

También podemos especificar un rango y hay que tener en cuenta que incluye ambos extremos.

In [18]:
libros.iloc[:2]

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction

*loc* nos permite combinar el filtrado de filas y columnas(labels).

In [19]:
libros.loc[:10,["Name","Price"]]

                                                 Name  Price
0                       10-Day Green Smoothie Cleanse      8
1                                   11/22/63: A Novel     22
2             12 Rules for Life: An Antidote to Chaos     15
3                              1984 (Signet Classics)      6
4   5,000 Awesome Facts (About Everything!) (Natio...     12
5       A Dance with Dragons (A Song of Ice and Fire)     11
6   A Game of Thrones / A Clash of Kings / A Storm...     30
7                      A Gentleman in Moscow: A Novel     15
8       A Higher Loyalty: Truth, Lies, and Leadership      3
9                           A Man Called Ove: A Novel      8
10                          A Man Called Ove: A Novel      8

Podemos hacer cosas más complejas como modificar los valores de una columna específica.

In [20]:
libros.loc[:10,["Price"]]*-1

    Price
0      -8
1     -22
2     -15
3      -6
4     -12
5     -11
6     -30
7     -15
8      -3
9      -8
10     -8

Y podemos filtrar a partir de una condición. Esto nos arroja una Serie booleana.

In [21]:
libros.loc[:,["Author"]]=="Stephen King"

     Author
0     False
1      True
2     False
3     False
4     False
..      ...
545   False
546   False
547   False
548   False
549   False

[550 rows x 1 columns]

*iloc* nos permite hacer un filtrado a través de los índices.

In [22]:
libros.iloc[:]

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

Como estamos haciendo la búsqueda por índice entonces el final no se incluye.

In [23]:
libros.iloc[:3]

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction

Podemos filtrar los datos según el índice de las filas y de las columnas.

In [24]:
libros.iloc[:3,2:4]

   User Rating  Reviews
0          4.7    17350
1          4.6     2052
2          4.7    18979

Y también podemos buscar un dato específico.

In [25]:
libros.iloc[1,3]

2052

Y luego modificarlo.

In [26]:
libros.iloc[1,3]=50
libros.iloc[1,3]

50

In [27]:
libros.iloc[:3,2:4]

   User Rating  Reviews
0          4.7    17350
1          4.6       50
2          4.7    18979

## Agregar o eliminar datos

Con *.head()* vemos las primeras 5 líneas del dataframe.

In [33]:
#import numpy as np
libros.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,50,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

Eliminar columnas de la salida pero no del dataframe.

In [34]:
#axis = 1 para columnas
libros.drop("Author",axis=1).head()

,Name,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,4.6,50,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",4.8,7665,12,2019,Non Fiction

Eliminar una columna del dataframe.

In [38]:
#del libros["Genre"]
libros

,Name,Author,User Rating,Reviews,Price,Year
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016
1,11/22/63: A Novel,Stephen King,4.6,50,22,2011
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019
...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019

Eliminar filas de la salida pero no del dataframe.

In [39]:
libros.drop(1,axis=0).head()

,Name,Author,User Rating,Reviews,Price,Year
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011

Eliminar un conjunto de filas mediante una lista.

In [40]:
libros.drop([0,2,7],axis=0).head()

,Name,Author,User Rating,Reviews,Price,Year
1,11/22/63: A Novel,Stephen King,4.6,50,22,2011
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014

Eliminar un conjunto de filas a través de un rango.

In [41]:
libros.drop(range(0,50),axis=0).head()

,Name,Author,User Rating,Reviews,Price,Year
50,Crazy Love: Overwhelmed by a Relentless God,Francis Chan,4.7,1542,14,2009
51,Crazy Love: Overwhelmed by a Relentless God,Francis Chan,4.7,1542,14,2010
52,Crazy Love: Overwhelmed by a Relentless God,Francis Chan,4.7,1542,14,2011
53,Crazy Rich Asians (Crazy Rich Asians Trilogy),Kevin Kwan,4.3,6143,8,2018
54,Creative Haven Creative Cats Coloring Book (Ad...,Marjorie Sarnat,4.8,4022,4,2015

Agregar una nueva columna con valores **NaN**.

In [42]:
libros["goku ultra institnto nivel un millon xd"]=pd.NA
libros.head()

,Name,Author,User Rating,Reviews,Price,Year,goku ultra institnto nivel un millon xd
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,<NA>
1,11/22/63: A Novel,Stephen King,4.6,50,22,2011,<NA>
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,<NA>
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,<NA>
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,<NA>

Mostrar el número de filas de un dataframe.

In [43]:
libros.shape[0]

550

Mostrar el número de columnas de un dataframe.

In [44]:
libros.shape[1]

7

Agregar valores a una nueva columna del dataframe.

In [45]:
import numpy as np
Nuevo=np.arange(0,libros.shape[0])
libros["Nuevo2"]=Nuevo
libros.head()

,Name,Author,User Rating,Reviews,Price,Year,goku ultra institnto nivel un millon xd,Nuevo2
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,<NA>,0
1,11/22/63: A Novel,Stephen King,4.6,50,22,2011,<NA>,1
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,<NA>,2
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,<NA>,3
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,<NA>,4

Agregar filas.

In [46]:
pd.concat([libros,libros])

,Name,Author,User Rating,Reviews,Price,Year,goku ultra institnto nivel un millon xd,Nuevo2
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,NaN,0
1,11/22/63: A Novel,Stephen King,4.6,50,22,2011,NaN,1
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,NaN,2
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,NaN,3
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,NaN,4
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,NaN,545
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,NaN,546
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,NaN,547
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,NaN,548
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,NaN,549

Como vemos, ahora hay 1100 filas, o sea, se duplicaron.

## Manejo de datos nulos

In [48]:
diccionario = {'Col1':[1,2,3,np.nan],
'Col2':[4, np.nan,6,7],
'Col3':['a','b','c', None]}
df = pd.DataFrame(diccionario)
df

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

Identificar valores nulos en un dataframe.

In [47]:
df.isnull()

   Lenguaje  Demanda   Tipo
1     False    False  False
2     False    False  False
3     False    False  False
4     False    False  False

Identificar los valores nulos con un valor numérico.

In [49]:
df.isnull()*1

   Col1  Col2  Col3
0     0     0     0
1     0     1     0
2     0     0     0
3     1     0     1

Sustituir los valores nulos por un string.

In [50]:
df.fillna("Vacio")

    Col1   Col2   Col3
0    1.0    4.0      a
1    2.0  Vacio      b
2    3.0    6.0      c
3  Vacio    7.0  Vacio

Sustituir los valores nulos por la media realizada con los valores de las columnas.

In [51]:
df.fillna(df.mean())

TypeError: can only concatenate str (not "int") to str

Sustituir valores nulos por valores de interpolación.

METHOD: método usado par interpolar. Por default es el linear. Pero existen otros:
- Time: para interpolar entre intervalos de tiempo.
- Index: reemplaza el nulo por el valor del index.
- Pad: reemplaza el nulo por algún valor existente en el dataframe.
- Se puede especificar que la interpolación sea cuadrática, cúbica , polinómica, entre otros.
- Se puede especificar que se reemplace por el cero, o el valor contiguo más cercano, entre otros.

AXIS: tiene 3 opciones:
- En dirección de los index (axis = 0).
- En dirección de las columnas (axis = 1).
- None: ninguna. Esta es la opción default.

LIMIT (opcional) : el número máximo de NULOS consecutivos que se pueden reemplazar. Tiene que ser mayor a cero.

LIMIT_DIRECTION (opcional): idem anterior pero en alguna dirección. Puede ser:
- Forward: hacia adelante.
- Backward: hacia atrás.
- Both: ambos.

In [52]:
df.interpolate()

C:\Users\SENA\AppData\Local\Temp\ipykernel_18952\4002874584.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate()

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   5.0     b
2   3.0   6.0     c
3   3.0   7.0  None

Eliminar valores nulos.

In [53]:
df.dropna()

   Col1  Col2 Col3
0   1.0   4.0    a
2   3.0   6.0    c

Utilizando *inplace = True* podemos eliminar los na del dataframe.

In [55]:
df.dropna(inplace=True)
df

   Col1  Col2 Col3
0   1.0   4.0    a
2   3.0   6.0    c

## Filtrado por condiciones

In [56]:
libros=pd.read_csv("bestsellers-with-categories.csv")
libros.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

Mostrar datos que cumplan una condición. Esto devuelve una Serie booleana.

In [57]:
mayor=libros["Year"]>2016
mayor

0      False
1      False
2       True
3       True
4       True
       ...
545     True
546    False
547     True
548     True
549     True
Name: Year, Length: 550, dtype: bool

Podemos utilizar la condición para obtener los valores.

In [58]:
libros[mayor]

,Name,Author,User Rating,Reviews,Price,Year,Genre
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
...,...,...,...,...,...,...,...
544,Wonder,R. J. Palacio,4.8,21625,9,2017,Fiction
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

O colocar directamente una condición.

In [59]:
libros[libros["Year"]>2016]

,Name,Author,User Rating,Reviews,Price,Year,Genre
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
...,...,...,...,...,...,...,...
544,Wonder,R. J. Palacio,4.8,21625,9,2017,Fiction
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [60]:
genero=libros["Genre"]=="Fiction"
genero

0      False
1       True
2      False
3       True
4      False
       ...
545     True
546    False
547    False
548    False
549    False
Name: Genre, Length: 550, dtype: bool

Podemos filtrar utilizando varias condiciones.

In [64]:
libros[mayor & genero]

,Name,Author,User Rating,Reviews,Price,Year,Genre
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
10,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2017,Fiction
13,A Wrinkle in Time (Time Quintet),Madeleine L'Engle,4.5,5153,5,2018,Fiction
40,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,4.9,14344,5,2017,Fiction
...,...,...,...,...,...,...,...
509,To Kill a Mockingbird,Harper Lee,4.8,26234,7,2019,Fiction
529,What Should Danny Do? (The Power to Choose Ser...,Adir Levy,4.8,8170,13,2019,Fiction
534,Where the Crawdads Sing,Delia Owens,4.8,87841,15,2019,Fiction
544,Wonder,R. J. Palacio,4.8,21625,9,2017,Fiction
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction

Y utilizar negación en las condiciones.

También es posible filtrar texto a través de *str.contains()*.

In [65]:
libros[libros["Author"].str.contains("Palacio")]

       Name         Author  User Rating  Reviews  Price  Year    Genre
540  Wonder  R. J. Palacio          4.8    21625      9  2013  Fiction
541  Wonder  R. J. Palacio          4.8    21625      9  2014  Fiction
542  Wonder  R. J. Palacio          4.8    21625      9  2015  Fiction
543  Wonder  R. J. Palacio          4.8    21625      9  2016  Fiction
544  Wonder  R. J. Palacio          4.8    21625      9  2017  Fiction

## Funciones principales de Pandas

Mostrar las primeras dos líneas del dataframe.

In [66]:
libros.head(2)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction

Mostrar qué columnas hay en el df, sus índices, cuántos valores en cada columna son no nulos, los tipos de datos de cada columna, cuántos registros hay y cuántas columnas hay.

In [67]:
libros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

Obtener diferentes estadísticos de las columnas numéricas.

In [68]:
libros.describe()

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

Mostrar los últimos 5 registros del df.

In [69]:
libros.tail()

,Name,Author,User Rating,Reviews,Price,Year,Genre
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

Obtener el uso de la memoria de cada columna.

In [70]:
libros.memory_usage(deep=True)

Index            132
Name           55233
Author         34622
User Rating     4400
Reviews         4400
Price           4400
Year            4400
Genre          32040
dtype: int64

Contar los valores por cada categoría de una columna.

In [71]:
libros["Author"].value_counts()

Author
Jeff Kinney                           12
Gary Chapman                          11
Rick Riordan                          11
Suzanne Collins                       11
American Psychological Association    10
                                      ..
Keith Richards                         1
Chris Cleave                           1
Alice Schertle                         1
Celeste Ng                             1
Adam Gasiewski                         1
Name: count, Length: 248, dtype: int64

Obtener la información de un registro específico.

In [72]:
libros.iloc[0]

Name           10-Day Green Smoothie Cleanse
Author                              JJ Smith
User Rating                              4.7
Reviews                                17350
Price                                      8
Year                                    2016
Genre                            Non Fiction
Name: 0, dtype: object

Eliminar registros duplicados.

In [73]:
libros.drop_duplicates()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

Eliminar el primer registro duplicado y conservar el último.

In [74]:
libros.drop_duplicates(keep="last")

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

Ordenar los registros según los valores de una columna, de forma ascendente.

In [76]:
libros.sort_values("year",ascending=False)

KeyError: 'year'

Ordenar los registros según los valores de una columna, de forma descendente.

In [78]:
libros.sort_values("Year",ascending=False)

,Name,Author,User Rating,Reviews,Price,Year,Genre
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction
294,School Zone - Big Preschool Workbook - Ages 4 ...,School Zone,4.8,23047,6,2019,Non Fiction
489,The Wonderful Things You Will Be,Emily Winfield Martin,4.9,8842,10,2019,Fiction
263,P is for Potty! (Sesame Street) (Lift-the-Flap),Naomi Kleinberg,4.7,10820,5,2019,Non Fiction
130,"Girl, Wash Your Face: Stop Believing the Lies ...",Rachel Hollis,4.6,22288,12,2019,Non Fiction
...,...,...,...,...,...,...,...
418,The Last Olympian (Percy Jackson and the Olymp...,Rick Riordan,4.8,4628,7,2009,Fiction
38,"Breaking Dawn (The Twilight Saga, Book 4)",Stephenie Meyer,4.6,9769,13,2009,Fiction
92,"Eat This, Not That! Thousands of Simple Food S...",David Zinczenko,4.3,956,14,2009,Non Fiction
139,Good to Great: Why Some Companies Make the Lea...,Jim Collins,4.5,3457,14,2009,Non Fiction
299,Sookie Stackhouse,Charlaine Harris,4.7,973,25,2009,Fiction

Convertir el tipo de dato de una columna.

In [77]:
libros["Name"]=libros["Name"].astype("string")
libros.dtypes

Name           string[python]
Author                 object
User Rating           float64
Reviews                 int64
Price                   int64
Year                    int64
Genre                  object
dtype: object

## Group by

Permite agrupar datos en funcion de los demas . Es decir, hacer el analisis del dataframe en funcion de una de las columnas.

Agrupar por una columna y mostrar el conteo de los datos de las demás columnas.

In [81]:
libros

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

Agrupar por una columna y mostrar la media de los datos de las demás columnas.

In [80]:
libros.groupby("Author")
libros.groupby("Author").count()

                            Name  User Rating  Reviews  Price  Year  Genre
Author
Abraham Verghese               2            2        2      2     2      2
Adam Gasiewski                 1            1        1      1     1      1
Adam Mansbach                  1            1        1      1     1      1
Adir Levy                      1            1        1      1     1      1
Admiral William H. McRaven     1            1        1      1     1      1
...                          ...          ...      ...    ...   ...    ...
Walter Isaacson                3            3        3      3     3      3
William Davis                  2            2        2      2     2      2
William P. Young               2            2        2      2     2      2
Wizards RPG Team               3            3        3      3     3      3
Zhi Gang Sha                   2            2        2      2     2      2

[248 rows x 6 columns]

La columna Author, en los casos anteriores, pasa a ser el indice. Podemos usar loc y acceder a un dato especifico del dataFrame. Agrupar por autor y mostrar la suma de los valores de las demas columnas para William Davis.

In [83]:
libros.groupby("Author").mean(numeric_only=True)

                            User Rating       Reviews      Price         Year
Author
Abraham Verghese               4.600000   4866.000000  11.000000  2010.500000
Adam Gasiewski                 4.400000   3113.000000   6.000000  2017.000000
Adam Mansbach                  4.800000   9568.000000   9.000000  2011.000000
Adir Levy                      4.800000   8170.000000  13.000000  2019.000000
Admiral William H. McRaven     4.700000  10199.000000  11.000000  2017.000000
...                                 ...           ...        ...          ...
Walter Isaacson                4.566667   6222.666667  20.333333  2013.333333
William Davis                  4.400000   7497.000000   6.000000  2012.500000
William P. Young               4.600000  19720.000000   8.000000  2013.000000
Wizards RPG Team               4.800000  16990.000000  27.000000  2018.000000
Zhi Gang Sha                   4.600000    128.500000  11.500000  2011.000000

[248 rows x 4 columns]

Si no quiero que la columna que estoy usando sea el índice sino que use los que por defecto tiene el dataframe entonces utilizo *.reset_index()*

In [87]:
libros.groupby("Author").sum().reset_index()

,Author,Name,User Rating,Reviews,Price,Year,Genre
0,Abraham Verghese,Cutting for StoneCutting for Stone,9.2,9732,22,4021,FictionFiction
1,Adam Gasiewski,Milk and Vine: Inspirational Quotes From Class...,4.4,3113,6,2017,Non Fiction
2,Adam Mansbach,Go the F**k to Sleep,4.8,9568,9,2011,Fiction
3,Adir Levy,What Should Danny Do? (The Power to Choose Ser...,4.8,8170,13,2019,Fiction
4,Admiral William H. McRaven,Make Your Bed: Little Things That Can Change Y...,4.7,10199,11,2017,Non Fiction
...,...,...,...,...,...,...,...
243,Walter Isaacson,Leonardo da VinciSteve JobsSteve Jobs,13.7,18668,61,6040,Non FictionNon FictionNon Fiction
244,William Davis,"Wheat Belly: Lose the Wheat, Lose the Weight, ...",8.8,14994,12,4025,Non FictionNon Fiction
245,William P. Young,The Shack: Where Tragedy Confronts EternityThe...,9.2,39440,16,4026,FictionFiction
246,Wizards RPG Team,Player's Handbook (Dungeons & Dragons)Player's...,14.4,50970,81,6054,FictionFictionFiction
247,Zhi Gang Sha,Divine Soul Mind Body Healing and Transmission...,9.2,257,23,4022,Non FictionNon Fiction

Podemos hacer que el agrupamiento sea por determinadas funciones de agregación. En este caso, obtener el minimo y maximo de cada columna.

In [88]:
libros.groupby("Author").agg(["min","max"])

                                                                         Name  \
                                                                          min
Author
Abraham Verghese                                            Cutting for Stone
Adam Gasiewski              Milk and Vine: Inspirational Quotes From Class...
Adam Mansbach                                            Go the F**k to Sleep
Adir Levy                   What Should Danny Do? (The Power to Choose Ser...
Admiral William H. McRaven  Make Your Bed: Little Things That Can Change Y...
...                                                                       ...
Walter Isaacson                                             Leonardo da Vinci
William Davis               Wheat Belly: Lose the Wheat, Lose the Weight, ...
William P. Young                  The Shack: Where Tragedy Confronts Eternity
Wizards RPG Team                       Player's Handbook (Dungeons & Dragons)
Zhi Gang Sha                Divine Soul Mind Body Healing and Transmission...

                                                                               \
                                                                          max
Author
Abraham Verghese                                            Cutting for Stone
Adam Gasiewski              Milk and Vine: Inspirational Quotes From Class...
Adam Mansbach                                            Go the F**k to Sleep
Adir Levy                   What Should Danny Do? (The Power to Choose Ser...
Admiral William H. McRaven  Make Your Bed: Little Things That Can Change Y...
...                                                                       ...
Walter Isaacson                                                    Steve Jobs
William Davis               Wheat Belly: Lose the Wheat, Lose the Weight, ...
William P. Young                  The Shack: Where Tragedy Confronts Eternity
Wizards RPG Team                       Player's Handbook (Dungeons & Dragons)
Zhi Gang Sha                Soul Healing Miracles: Ancient and New Sacred ...

                           User Rating      Reviews        Price      Year  \
                                   min  max     min    max   min max   min
Author
Abraham Verghese                   4.6  4.6    4866   4866    11  11  2010
Adam Gasiewski                     4.4  4.4    3113   3113     6   6  2017
Adam Mansbach                      4.8  4.8    9568   9568     9   9  2011
Adir Levy                          4.8  4.8    8170   8170    13  13  2019
Admiral William H. McRaven         4.7  4.7   10199  10199    11  11  2017
...                                ...  ...     ...    ...   ...  ..   ...
Walter Isaacson                    4.5  4.6    3014   7827    20  21  2011
William Davis                      4.4  4.4    7497   7497     6   6  2012
William P. Young                   4.6  4.6   19720  19720     8   8  2009
Wizards RPG Team                   4.8  4.8   16990  16990    27  27  2017
Zhi Gang Sha                       4.6  4.6      37    220     6  17  2009

                                        Genre
                             max          min          max
Author
Abraham Verghese            2011      Fiction      Fiction
Adam Gasiewski              2017  Non Fiction  Non Fiction
Adam Mansbach               2011      Fiction      Fiction
Adir Levy                   2019      Fiction      Fiction
Admiral William H. McRaven  2017  Non Fiction  Non Fiction
...                          ...          ...          ...
Walter Isaacson             2017  Non Fiction  Non Fiction
William Davis               2013  Non Fiction  Non Fiction
William P. Young            2017      Fiction      Fiction
Wizards RPG Team            2019      Fiction      Fiction
Zhi Gang Sha                2013  Non Fiction  Non Fiction

[248 rows x 12 columns]

Agrupar por Author, obtener el mínimo y máximo de la columna Reviews y la media de los valores de la columna User Rating.

In [89]:
libros.groupby("Author").agg({"Reviews":["min","max"],"User Rating":"mean"})

                           Reviews        User Rating
                               min    max        mean
Author
Abraham Verghese              4866   4866    4.600000
Adam Gasiewski                3113   3113    4.400000
Adam Mansbach                 9568   9568    4.800000
Adir Levy                     8170   8170    4.800000
Admiral William H. McRaven   10199  10199    4.700000
...                            ...    ...         ...
Walter Isaacson               3014   7827    4.566667
William Davis                 7497   7497    4.400000
William P. Young             19720  19720    4.600000
Wizards RPG Team             16990  16990    4.800000
Zhi Gang Sha                    37    220    4.600000

[248 rows x 3 columns]

También es posible agrupar por varias columnas.

In [91]:
libros.groupby(["Author","Year"]).count()

                       Name  User Rating  Reviews  Price  Genre
Author           Year
Abraham Verghese 2010     1            1        1      1      1
                 2011     1            1        1      1      1
Adam Gasiewski   2017     1            1        1      1      1
Adam Mansbach    2011     1            1        1      1      1
Adir Levy        2019     1            1        1      1      1
...                     ...          ...      ...    ...    ...
Wizards RPG Team 2017     1            1        1      1      1
                 2018     1            1        1      1      1
                 2019     1            1        1      1      1
Zhi Gang Sha     2009     1            1        1      1      1
                 2013     1            1        1      1      1

[493 rows x 5 columns]

## Combinando dataframes

Existen diferentes formas de fusionar dos DataFrames. Esto se hace a través de la lógica de combinación.

![merge join](merge-join.jpg)

- Left join: Da prioridad al DataFrame de la izquierda. Trae siempre los datos de la izquierda y las filas en común con el DataFrame de la derecha.
- Right join: Da prioridad al DataFrame de la derecha. Trae siempre los datos de la derecha y las filas en común con el DataFrame de la izquierda.
- Inner join: Trae solamente aquellos datos que son común en ambos DataFrame
- Outer join: Trae los datos tanto del DataFrame de la izquierda como el de la derecha, incluyendo los datos que comparten ambos.

![merge join2](merge-join2.jpg)

Concat - Axis 0: permite combinar dos dataframes a nivel de filas. Crecimiento vertical

![concat](concat.jpg)

Concat - Axis 1: permite combinar dos dataframes a nivel de columnas. La organizacion por columnas no va a ser la misma para ambos  dataFrames, por tanto, se crearan valores NaN para rellenar los espacios vacios. Crecimiento horizontal

![concat2](concat2.jpg)

### Concat

In [92]:
df1=pd.DataFrame({
'Α':['Α0','Α1','A2','A3'], 
'B':['B0','B1','B2','B3'],
'C':['C0','C1','C2','C3'],
'D':['D0','D1','D2','D3'] 
})

df2=pd.DataFrame({ 
'A':['A4','A5','A6','A7'],
'B':['B4','B5','B6','B7'],
'C':['C4','C5','C6','C7'],
'D':['D4','D5','D6','D7'] 
})

Concatenar dos dataframes por filas o axis = 0

In [93]:
pd.concat([df1,df2])

     Α   B   C   D    A
0   Α0  B0  C0  D0  NaN
1   Α1  B1  C1  D1  NaN
2   A2  B2  C2  D2  NaN
3   A3  B3  C3  D3  NaN
0  NaN  B4  C4  D4   A4
1  NaN  B5  C5  D5   A5
2  NaN  B6  C6  D6   A6
3  NaN  B7  C7  D7   A7

Como vemos, hay un error con los índices; vamos a corregirlos.

In [94]:
pd.concat([df1,df2],ignore_index=True)

     Α   B   C   D    A
0   Α0  B0  C0  D0  NaN
1   Α1  B1  C1  D1  NaN
2   A2  B2  C2  D2  NaN
3   A3  B3  C3  D3  NaN
4  NaN  B4  C4  D4   A4
5  NaN  B5  C5  D5   A5
6  NaN  B6  C6  D6   A6
7  NaN  B7  C7  D7   A7

Concatenar dos dataframes por columnas, axis = 1

In [95]:
pd.concat([df1,df2],ignore_index=True,axis=1)

    0   1   2   3   4   5   6   7
0  Α0  B0  C0  D0  A4  B4  C4  D4
1  Α1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

### Merge

In [97]:

izq=pd.DataFrame({
'key':['k0','k1','k2','k3'],
'Α':['Α0','Α1','A2','A3'], 
'B':['B0','B1','B2','B3'],
})

der=pd.DataFrame({ 
'key':['k0','k1','k2','k3'],
'C':['C0','C1','C2','C3'],
'D':['D0','D1','D2','D3'] 
})

Unir el dataframe **der** a **izq** sobre una columna en específico.

In [101]:
izq.merge(der,on="key")

  key   Α   B   C   D
0  k0  Α0  B0  C0  D0
1  k1  Α1  B1  C1  D1
2  k2  A2  B2  C2  D2
3  k3  A3  B3  C3  D3

Habrán ocasiones en que no se tenga una columna con el mismo nombreen ambos dataframes y necesitamos separarlos de otra manera.

In [99]:
izq=pd.DataFrame({
'key':['k0','k1','k2','k3'],
'Α':['Α0','Α1','A2','A3'], 
'B':['B0','B1','B2','B3'],
})

der=pd.DataFrame({ 
'key':['k0','k1','k2','k3'],
'C':['C0','C1','C2','C3'],
'D':['D0','D1','D2','D3'] 
})

En este caso especificamos que queremos hacer un merge cruzando el dataframe de la izquierda con su columna *key* con el dataframe de la derecha y su columna *key_2*.

In [107]:
izq.merge(der,left_on="key",right_on="key_2")

  key   Α   B key_2   C   D
0  k0  Α0  B0    k0  C0  D0
1  k1  Α1  B1    k1  C1  D1
2  k2  A2  B2    k2  C2  D2

Si tenemos un NaN en nuestro DataFrame, pandas no lo detectará como un mach.

In [104]:
izq=pd.DataFrame({
'key':['k0','k1','k2','k3'],
'Α':['Α0','Α1','A2','A3'], 
'B':['B0','B1','B2','B3'],
})

der=pd.DataFrame({ 
'key_2':['k0','k1','k2',np.nan],
'C':['C0','C1','C2','C3'],
'D':['D0','D1','D2','D3'] 
})

Para solucionar esto debemos utilizar *how* para asignar una preferencia.

In [105]:
izq.merge(der,left_on="key",right_on="key_2",how="left")

  key   Α   B key_2    C    D
0  k0  Α0  B0    k0   C0   D0
1  k1  Α1  B1    k1   C1   D1
2  k2  A2  B2    k2   C2   D2
3  k3  A3  B3   NaN  NaN  NaN

### Join

Join es otra herramienta para hacer exactamente lo mismo, una combinación. La diferencia es que join va a ir a los índices y no a columnas específicas.

In [112]:
izq=pd.DataFrame({

'Α':['Α0','Α1','A2'], 
'B':['B0','B1','B2']},
index=['k0','k1','k2']
)

der=pd.DataFrame({ 
'C':['C0','C1','C2'],
'D':['D0','D1','D2'] },
index=['k0','k3','k2'],
)

Combinamos **izq** con **der**.

In [113]:
izq.join(der)

     Α   B    C    D
k0  Α0  B0   C0   D0
k1  Α1  B1  NaN  NaN
k2  A2  B2   C2   D2

Traer todos los datos aunque no hagan match.

In [114]:
izq.join(der,how="outer")

      Α    B    C    D
k0   Α0   B0   C0   D0
k1   Α1   B1  NaN  NaN
k2   A2   B2   C2   D2
k3  NaN  NaN   C1   D1

¿Cuál es la principal diferencia entre merge y join en pandas?

- Merge puede unificar df en base a los índices o a los valores de las columnas.
- Join solo lo puede hacer en base a los índices. Es una caso específico de merge

## Apply

Apply es un comando muy poderoso que nos deja aplicar funciones a nuestro DataFrame.

In [116]:
def doble(valor):
    return valor*2

A la columna *User Rating* le vamos a aplicar una función.

In [117]:
libros["User Rating"].apply(doble)

0      9.4
1      9.2
2      9.4
3      9.4
4      9.6
      ...
545    9.8
546    9.4
547    9.4
548    9.4
549    9.4
Name: User Rating, Length: 550, dtype: float64

Esto podemos guardarlo en una nueva columna.

In [118]:
libros["User Rating x 2"]=libros["User Rating"].apply(doble)
libros

,Name,Author,User Rating,Reviews,Price,Year,Genre,User Rating x 2
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,9.4
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,9.2
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,9.4
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,9.4
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,9.6
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,9.8
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,9.4
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,9.4
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,9.4
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,9.4

Cualquier tipo de función se puede utilizar, incluso lambdas.

In [119]:
libros["User Rating"].apply(lambda x: x*3)

0      14.1
1      13.8
2      14.1
3      14.1
4      14.4
       ...
545    14.7
546    14.1
547    14.1
548    14.1
549    14.1
Name: User Rating, Length: 550, dtype: float64

Podemos hacer un apply al dataframe como tal a partir de varias condiciones; debemos especificar a qué lo vamos a aplicar, si filas o columnas.

In [120]:
libros.apply(lambda x: x["User Rating"]*2 if x["Genre"]=="Fictin" else x["User Rating"],axis=1)

0      4.7
1      4.6
2      4.7
3      4.7
4      4.8
      ...
545    4.9
546    4.7
547    4.7
548    4.7
549    4.7
Length: 550, dtype: float64